<h1>Home#index</h1>
<p><b> This site under construction!! </b></p>

<button><a href="http://localhost:3000/authors/sign_up">Sign up</a></button>
<button><a href="http://localhost:3000/authors/sign_in">Sign in</button>
<button><a href="http://localhost:3000/posts">Posts</button>

